
  body{
    background-color: #eaf6f6;
  }
  h1,h3 {
      color: #6fbfbf;
  }

  hr {
    border-style: none;
    border-top-style:  dotted;
    border-top-color: #c9d6df;
    border-width: 10px;
    height: 4px;
    width: 10%;
  }
