
  body{
    background-color: #f0fff3;
  }
  hr {

    border-style: none;
    border-top-style:  dotted;
    border-top-color: #c9d6df;
    border-width: 10px;
    height: 4px;
    width: 10%;
  }
